<a href="https://www.facebook.com/vima.tech.web.solutions/?ref=ts&fref=ts" title="Pagina Facebook" target="_blank">
        <i class="fa fa-facebook"></i>                                                                                                                                                   
</a>
<a href="#" title="Pagina Twitter">
        <i class="fa fa-twitter"></i>                                                                                                                                                   
</a>
<a href="#" title="Pagina Instagram">
        <i class="fa fa-instagram"></i>                                                                                                                                                   
</a>