* { margin:0; padding:0;}
html, body { height: 100%; }
body{
	background-color: #123456;
	color: #123456;
	font-family: 'montserratregular';
        src: url('montserrat-regular-webfont.woff2') format('woff2'),
         url('montserrat-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        display: table;
        width: 100%;
}
img{
	width: 100%;
}
html, body {
  height: 100%;
}
.pd-lr-2{
	padding-left: 2px;
	padding-right: 2px
}
.m-t-25{
	margin-top: 25px;
}
.m-b--25{
	margin-bottom: 25px;
}
.pos-rel{
	position: relative;
}
.carousel-inner .item{  
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
}
.carousel-caption{
	top: 0px;
	position: absolute;
	display: block;
        z-index: 10;
}
.carousel-caption h3{
	font-size: 35px;
	width: 100%;
	font-weight: bold;
	position: relative;
	left: 50%;
        transform: translateX(-50%);
        -webkit-animation-name: opac;
        -webkit-animation-duration: 3s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-play-state: running;
        animation-name: opac ;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-play-state: running;
}
@-webkit-keyframes opac {
        0%   { opacity: 0;}
        30%  { opacity: 1;}
        100% { opacity: 0;}
}
@keyframes opac {
        0%   { opacity: 0;}
        30%  { opacity: 1;}
        100% {  opacity: 0;}
}
.scroll-down {
	position: absolute;
	left: 80%;
	bottom: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left: -15px;
	display: block;
	z-index: 10;
	color: #fff;
}
.scroll-down span{
	position: relative;
	color: #fff;
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
	left: 30%;
}
@-webkit-keyframes drop {
        0%   { top:0px;  opacity: 0;}
        30%  { top:10px; opacity: 1;}
        100% { top:25px; opacity: 0;}
}

@keyframes drop {
        0%   { top:0px;  opacity: 0;}
        30%  { top:10px; opacity: 1;}
        100% { top:25px; opacity: 0;}
}
.navbar-default{
	background-color: #fff!important;
	background-image: none!important;
	border: 0px;
	box-shadow: none;
}
header .header-left{
	text-align: center;
}
.navbar-default .navbar-nav li a {
	color: #123456;
}
.navbar-default .navbar-nav .active a{
	color: #123456;
}
.navbar-default .navbar-nav .active a,  .navbar-default .navbar-nav .open a{
        background-color: #fff;
        background-image: none;
        border-top: 1px solid #123456;
        box-shadow: none;
}
.navbar-default .navbar-nav .active a,  .navbar-default .navbar-nav .open a, .navbar-default .navbar-nav .active a:hover,  .navbar-default .navbar-nav .open a:hover{
        background-color: #fff;
        background-image: none;
        border-top: 1px solid #123456;
        box-shadow: none;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #123456;
	border-top: 1px solid #123456;
}
.nav>li>a{
	padding: 10px 10px;
}
.testi{
	color: #fff;
}
.testi h1{
	text-transform: uppercase;
	margin-top: 25px;
	font-size: 28px;
	font-weight: bold;
}
.testi p.sottotit{
	text-align: left;
        font-size: 20px;
        margin-top: 15px;
}
.testi p{
	margin-top: 35px;
	text-align: right;
	margin-bottom: 30px;
}

img#logo{
	max-width: 200px;
	margin-top: 15px;
}
.link-social{
	margin-top: 50px;
	margin-bottom: 50px;
}
.site-slogan{
	font-style: italic;
}
.box-servizi{
	text-align: center;
        background-color: #fff;
        color: #123456;
        padding: 30px 10px;
        border-radius: 4px;
}
.box-servizi p{
	text-align: center;
	margin-bottom: 0px;
}
.link-social a{
        margin-left: 20px;
}
a, a:hover{
	color: #123456;
	text-decoration: none;
}
footer a.brand{
	border-bottom: 1px solid #123456;
	padding-bottom: 4px;
}
.bg-header, footer{
	background-color: #FFF;
}
.gallery-cover{
	background-size: cover;
}
footer {;
    display: table-row;
     height:1px;
}
footer p.sub{
	margin-top: 14px;
	text-align: center;
	font-size: 12px;
}
.center{
	text-align: center;
}
.tit-footer{
	text-transform: uppercase;
	border-bottom: 1px solid #123456;
	font-size: 20px;
	margin-top: 15px;
	padding-bottom: 10px;
}
.container-gallery{
	color: #fff;
}
#contatti, #work, #about{
	color: #fff;
}
#contatti .tit{
        font-size: 24px;
        font-weight: bold;
        margin: 15px 0 30px;
}
#contatti .text{
        margin-bottom: 50px;
}
.social-footer{
	text-align: center;
	padding-top: 20px;
}
.social-footer a{
       padding: 0 10px;
}
ul.menu-footer{
        margin-top: 15px;;
}
ul.menu-footer > li{
	list-style: none;
}
ul.menu-footer > li.active{
        list-style: inherit;
}
.footer-text{
	padding-top: 15px;
	text-align: center;
}
#google-map {	
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
}
.about-pag{
	color: #fff;
}
.about-pag .tit{
	text-align: center;
}
.about-pag .tit p.tit-about{
	margin-top: 25px;
        font-size: 28px;
        font-weight: bold;
}
.about-pag p{
	margin-top: 20px;
}
.box-work{
        width: 23%;
        float:left;
        margin: 1%;
}
.box-work:nth-of-type(odd) {
    float: right;
}
.tit-work{
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 18px;
}
#google-map > iframe {
	position: absolute;
	top: 5%;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
@media (max-width: 767px){
	body{
	        padding: 0px;	
	}
	footer, #push {
	    height: 240px;
	    clear: both;
	}
	.box-servizi{
	        margin-bottom: 1px;
	}
	.button{
	       right: 50%;
	       transform: translateX(12px);
	}

	ul.menu-footer > li {
		list-style: none;
		padding-bottom: 25px;
		text-align: center;
	}
	.box-work{
	       width: auto;
                float: none;
                margin-bottom: 20px;
	}
}
