* { margin:0; padding:0;}
html, body { height: 100%; }
body{
	background-color: #123456;
	color: #123456;
	font-family: 'montserratregular';
        src: url('montserrat-regular-webfont.woff2') format('woff2'),
         url('montserrat-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        display: table;
        width: 100%;
}
img{
	width: 100%;
}
html, body {
  height: 100%;
}
#content{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -200px;
}
.navbar-default{
	background-color: #fff!important;
	background-image: none!important;
	border: 0px;
	box-shadow: none;
}
header .header-left{
	text-align: center;
}
.navbar-default .navbar-nav li a {
	color: #123456;
}
.navbar-default .navbar-nav .active a{
	color: #123456;
}
.navbar-default .navbar-nav .active a,  .navbar-default .navbar-nav .open a{
        background-color: #fff;
        background-image: none;
        border-top: 1px solid #123456;
        box-shadow: none;
}
.navbar-default .navbar-nav .active a,  .navbar-default .navbar-nav .open a, .navbar-default .navbar-nav .active a:hover,  .navbar-default .navbar-nav .open a:hover{
        background-color: #fff;
        background-image: none;
        border-top: 1px solid #123456;
        box-shadow: none;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #123456;
	border-top: 1px solid #123456;
}
.nav>li>a{
	padding: 10px 10px;
}
footer {;
    display: table-row;
     height:1px;
}
img#logo{
	max-width: 200px;
	margin-top: 15px;
}
.link-social{
	margin-top: 50px;
	margin-bottom: 50px;
}
.site-slogan{
	font-style: italic;
}
.link-social a{
        margin-left: 20px;
}
a, a:hover{
	color: #123456;
	text-decoration: none;
}
footer a.brand{
	border-bottom: 1px solid #123456;
	padding-bottom: 4px;
}
.bg-header, footer{
	background-color: #FFF;
}
.gallery-cover{
	background-size: cover;
}
footer p.sub{
	margin-top: 14px;
	text-align: center;
	font-size: 12px;
}
.center{
	text-align: center;
}
.tit-footer{
	text-transform: uppercase;
	border-bottom: 1px solid #123456;
	font-size: 20px;
	margin-top: 15px;
	padding-bottom: 10px;
}
.container-gallery{
	color: #fff;
}
#contatti, #work, #about{
	color: #fff;
}
#contatti .tit{
        font-size: 24px;
        font-weight: bold;
        margin: 15px 0 30px;
}
#contatti .text{
        margin-bottom: 50px;
}
.social-footer{
	text-align: center;
	padding-top: 20px;
}
.social-footer a{
       padding: 0 10px;
}
ul.menu-footer{
        margin-top: 15px;;
}
ul.menu-footer > li{
	list-style: none;
}
ul.menu-footer > li.active{
        list-style: inherit;
}
.footer-text{
	padding-top: 15px;
}
#google-map {	
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
}
#google-map > iframe {
	position: absolute;
	top: 5%;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
@media (max-width: 767px){
	body{
	        padding: 0px;	
	}
	footer, #push {
	    height: 240px;
	    clear: both;
	}
}
