{% load static %}
{% load i18n %}

<footer>
	<div class="container-fluid">
	        <div class="container">
	                <div class="row">	                       
	                        <div class="col-sm-4">
	                                <div class="center tit-footer">
	                                        Vima-tech
	                                </div>	                   
	                                {% if contenuto.testo_footer %}
                                               <p class="footer-text">{{contenuto.testo_footer}}</p>                                           
                                        {% endif %}              
	                        </div>
	                        <div class="col-sm-4">
	                                 <div class="center tit-footer">
	                                        Social
	                                </div>
	                                <div class="social-footer">
	                                       {% include "_include/_partial/_social.html" %}
	                                </div>	                                
	                        </div>
	                        <div class="col-sm-4">
	                                <div class="center tit-footer">
	                                         Page
	                                </div>
	                                <ul class="menu-footer">
	                                       {% include "_include/_partial/_menu.html" %}
	                                </ul>
	                        </div>
	                </div>
	                <div class="row">
	                        <p class="sub">&copy; {% now "Y" %} Powered by <a class="brand" href="http://vima-tech.it" title="Sito Vima" target="_blank">Vima</a>. All rights reserved</p>
	                        <p class="sub">
	                               {% if contact.nome_azienda %} {{contact.nome_azienda}} {% endif %}
	                               {% if contact.indirizzo_azienda %}{{contact.indirizzo_azienda}}, {% endif %}
	                               {% if contact.civico_azienda %}{{contact.civico_azienda}} - {% endif %}
	                               {% if contact.cap %}{{contact.cap}}{% endif %}
	                               {% if contact.comune %} {{contact.comune}} {% endif %}
	                               {% if contact.provincia %} ({{contact.provincia}}){% endif %} 
	                               {% if contact.p_iva %} p.iva: {{contact.p_iva}} {% endif %}
	                               {% if contact.numero_rea %} - rea: {{contact.numero_rea}}{% endif %}
	                               {% if contact.pec %} | pec: {{contact.pec}} {% else %} {% if contact.email %} | mail: {{contact.email}}{%endif%}{%endif%} </p>
	                </div>
	        </div>       
	</div>
</footer>