{% load static %}
{% load i18n %}

<footer>
	<div class="container-fluid">
	        <div class="container">
	                <div class="row">
	                        <div class="col-sm-4">
	                                <div class="center tit-footer">
	                                        Vima-tech
	                                </div>	                   
	                                {% if contenuto.testo_footer %}
                                               <p class="footer-text">{{contenuto.testo_footer}}</p>                                           
                                        {% endif %}              
	                        </div>
	                        <div class="col-sm-4">
	                                 <div class="center tit-footer">
	                                        Social
	                                </div>
	                                <div class="social-footer">
	                                       {% include "_include/_partial/_social.html" %}
	                                </div>	                                
	                        </div>
	                        <div class="col-sm-4">
	                                <div class="center tit-footer">
	                                         Page
	                                </div>
	                                <ul class="menu-footer">
	                                       {% include "_include/_partial/_menu.html" %}
	                                </ul>
	                        </div>
	                </div>
	                <div class="row">
	                        <p class="sub">&copy; 2017 Powered by <a class="brand" href="http://vima-tech.it" title="Sito Vima" target="_blank">Vima</a>. All rights reserved</p>
	                        <p class="sub">Vima s.a.s. via Olmo di Riccio, 58 66034 Lanciano (Ch) p.iva: 02451480699 - rea: CH - 180021 | pec: amministrazione.vima@poste-certificate.it </p>
	                </div>
	        </div>       
	</div>
</footer>