{% load static %}
{% load i18n %}

<footer>
	<div class="container-fluid">
	        <div class="container">
	                <div class="row">
	                        <div class="col-sm-4">
	                                <div class="center tit-footer">
	                                        Contenuto Uno
	                                </div>
	                                <a href=""></a>
	                        </div>
	                        <div class="col-sm-4">
	                                 <div class="center tit-footer">
	                                        Contenuto Due
	                                </div>
	                        </div>
	                        <div class="col-sm-4">
	                                <div class="center tit-footer">
	                                         Contenuto Tre
	                                </div>
	                        </div>
	                </div>
	                <div class="row">
	                        <p>Powered by <a href="http://vima-tech.it" title="Sito Vima" target="_blank">Vima</a>. All rights reserved</p>
	                </div>
	        </div>       
	</div>
</footer>