{% load static %}
{% load i18n %}
       
<section id="header-sec">
         <header class="header fixed clearfix">
                <div class="container">
                        <div class="row">
                                <div class="col-md-3">
                                        <div class="header-left clearfix">
                                                <div class="logo">
                                                        <a href="{% url "home" %}" title="Torna alla Home">
                                                                <img id="logo" src="{% static "img/logo.png" %}" alt="logo Vima-tech">                                                                                                                                                    
                                                        </a>
                                                 </div>
                                                 <div class="site-slogan">
                                                        esperienza, professionalità e ingegno al vostro servizio                                                               
                                                 </div>
                                          </div>
                                  </div>
                                  <div class="col-md-2 col-md-offset-7 text-center link-social">
                                         {% include "_include/_partial/_social.html" %}
                                  </div>
                           </div>
                           <div class="row">
                                  <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                                          <div class="header-right clearfix">
                                                 <div class="main-navigation animated">                                                      
                                                         <nav class="navbar navbar-default" role="navigation">
                                                                 <div class="container-fluid">
                                                                        <div class="navbar-header">
                                                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                                                        <span class="sr-only">Toggle navigation</span>
                                                                                        <span class="icon-bar"></span>
                                                                                        <span class="icon-bar"></span>
                                                                                        <span class="icon-bar"></span>
                                                                                </button>
                                                                         </div>
                                                                         <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                                                                 <ul class="nav navbar-nav">
                                                                                        {% include "_include/_partial/_menu.html" %}
                                                                                 </ul>
                                                                         </div>
                                                                 </div>
                                                         </nav>
                                                 </div>
                                         </div>
                                 </div>
                         </div>
                 </div>
         </header>      
</section>          

 
 
 
 