{% extends "base.html" %}
{% load static %}
{% load i18n %} 
 
{% block title %}Privacy - Vima-tech{% endblock %}


 
{% block content %}
           
                 
<div class="container" id="privacy">
        <div class="link-corpo mg-t-160 text-right">
                <a href="{% url "contact" %}">torna a contatti</a>
        </div>
        <div class="title-privacy">Privacy Policy</div>
        <div class="subtitle-privacy">Informativa Privacy ai sensi dell’ art. 13 d. lgs. 196/03</div>
        <div class="tit-parag-policy">Il “Titolare del trattamento”</div>
        <div class="testo-parag-policy">                
                        Ai sensi dell’art. 13 del d.lgs. 196/2003, Codice in materia di protezione dei dati personali, 
                        Vima s.a.s. di Vittorio Lupinetti & C. (di seguito anche: “Società”, e/o “Vima”), con sede in via Olmo di Riccio, 58
                        66034 Lanciano (Ch), è il Titolare, ex art. 28 d.lgs. 196/03, del trattamento dei Suoi
                         dati personali. La stessa La informa pertanto che i dati personali acquisiti, anche con 
                         riferimento ai rapporti commerciali in essere e/o futuri, formano oggetto di trattamento nel
                          rispetto della normativa sopra richiamata. In relazione ai suddetti trattamenti il Titolare
                           fornisce, tra l’altro, le seguenti informazioni.                     
        </div>
        <div class="tit-parag-policy">Luogo di trattamento dei dati</div>
        <div class="testo-parag-policy">
                
                         Vima s.a.s. di Vittorio Lupinetti & C. con sede in via Olmo di Riccio, 58
                        66034 Lanciano (Ch) - Italia
               
        </div>
        <div class="tit-parag-policy">Tipi di dati trattati</div>
        <div class="testo-parag-policy">
               
                        Dati personali ed identificativi così come intesi dall’art. 4 lettera b) e c) ex d.lgs. 196/03,
                         oltre che quelli relativi a qualsivoglia informazione circa una persona fisica, giuridica, una 
                         pubblica amministrazione e qualsiasi altro ente, associazione od organismo che abbia il compito
                          di effettuare periodicamente le copie di sicurezza delle banche dati, dati identificativi, 
                          dati relativi al traffico e dati anonimi. A ciò si aggiungono i dati di navigazione, i sistemi 
                          informatici e le procedure software preposte al funzionamento di questo sito web che potrebbero
                         acquisire, nel corso del loro normale esercizio, i suoi dati personali, la cui trasmissione 
                        è implicita nell’uso dei protocolli di comunicazione di Internet. Si tratta, comunque, di 
                        informazioni che non sono raccolte per essere associate a interessati identificati, ma che per 
                        loro stessa natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da 
                        terzi, permettere di identificare gli utenti. In questa categoria di dati rientrano gli 
                        indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al sito, 
                        gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario 
                        della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del 
                        file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server 
                        (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all’ambiente informatico 
                        dell’utente. Questi dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime 
                        sull’uso del sito e per controllarne il corretto funzionamento e vengono cancellati immediatamente dopo 
                        l’elaborazione. I dati potrebbero essere utilizzati per l’accertamento di responsabilità in caso di 
                        ipotetici reati informatici ai danni del sito.
                
        </div>
        <div class="tit-parag-policy">Facoltatività del conferimento dei dati</div>
        <div class="testo-parag-policy">
            
                        Salvo quanto specificato per i dati di navigazione, l’utente è libero di fornire i dati personali 
                        riportati nei moduli di richiesta o comunque indicati nella sezione “Contatti” per sollecitare 
                        l’invio di materiale informativo o di altre comunicazioni. Il loro mancato conferimento può 
                        comportare l’impossibilità di ottenere quanto richiesto così come di seguito meglio specificato.
                
        </div>
        <div class="tit-parag-policy">Finalità del trattamento</div>
        <div class="testo-parag-policy">
                    
                    1.esecuzione dei rapporti commerciali con Voi in essere e/o futuri;<br>
                    2.adempimento degli obblighi di legge connessi ai rapporti commerciali di cui sopra;<br>
                    3.gestione organizzativa di qualsivoglia rapporto commerciale in essere e/o in fase di definizione purché 
                    collegato/connesso all’oggetto societario della società;<br>
                    4.tutela dei diritti contrattuali;<br>
                    5.analisi statistiche interne atte ad analizzare abitudini o scelte di consumi;<br>
                    6.attività di marketing attraverso l’invio di materiale informativo, pubblicitario o promozionale 
                    inerente ai prodotti o servizi derivati e/o analoghi a quelli oggetto del rapporto commerciale in essere;<br>
                    7.tracciamento delle attività a scopo di analisi, salvataggio delle preferenze e/o credenziali utente;<br>
                    8.invio di newsletter inerente ai prodotti e servizi prestati dalla Titolare.

        </div>
        <div class="tit-parag-policy">Dati forniti volontariamente dall’utente</div>
        <div class="testo-parag-policy">
                                      
                    L’invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo 
                    sito comporta la successiva acquisizione dell’indirizzo del mittente, necessario per rispondere 
                    alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva. Specifiche 
                    informative di sintesi verranno progressivamente riportate o visualizzate nelle pagine del sito 
                    predisposte per particolari servizi a richiesta.
           
        </div>
        <div class="tit-parag-policy">Durata del trattamento</div>
        <div class="testo-parag-policy">
                        
                    I dati saranno trattati per tutto il tempo necessario alla svolgimento del rapporto commerciale 
                    in essere e per i successivi dieci anni dalla data di acquisizione degli stessi. Resta inteso che, 
                    salvo diversa indicazione da parte dell’Interessato, tali dati verranno, comunque, cancellati dal 
                    server allo scadere del decimo anno.
            
        </div>
        <div class="tit-parag-policy">Cookies</div>
        <div class="testo-parag-policy">
                                       
                    I cookies consistono in una piccola quantità di informazioni testuali inviate al Suo computer, 
                    salvate nella directory del browser Web dell’utente mentre viene visitato un sito web. Lo scopo 
                    è quello di registrare, ma anche, talvolta, tracciare, le informazioni relative all’esperienza 
                    d’uso del sito. Vengono utilizzati con lo scopo di migliorare la navigazione passando da una 
                    pagina all’altra del sito, salvare delle preferenze utente già inserite (username, password, ecc.), 
                    tracciare i gusti e le preferenze dell’utente, permettendo di poter gestire la presenza o 
                    meno di iniziative di marketing mirate. Qualora venissero poste delle limitazioni al loro 
                    utilizzo, questo avrà sicuramente effetti sullo stato dell’utente durante la consultazione. 
                    Blocco o rimozione di essi dalla cache del browser potrebbero causare un’incompleta fruizione 
                    dei servizi offerti dall’applicativo web.
            
        </div>
        <div class="tit-parag-policy">Modalità del trattamento</div>
        <div class="testo-parag-policy">
                                       
                    I dati personali verranno trattati in forma cartacea, informatizzata e telematica ed inseriti 
                    nelle pertinenti banche dati cui potranno accedere, e quindi venirne a conoscenza, gli operatori 
                    espressamente designati dal Titolare quali Responsabili ed Incaricati del trattamento dei dati 
                    personali, che potranno effettuare operazioni di consultazione, utilizzo, elaborazione, raffronto 
                    ed ogni altra opportuna operazione anche automatizzata nel rispetto delle disposizioni di legge 
                    necessarie a garantire, tra l’altro, la riservatezza e la sicurezza dei dati nonché l’esattezza, 
                    l’aggiornamento e la pertinenza dei dati nel rispetto alle finalità dichiarate.
            
        </div>
        <div class="tit-parag-policy">Dati raccolti</div>
        <div class="testo-parag-policy">
                                       
                    I dati raccolti sono inerenti essenzialmente a dati identificativi (ragione o denominazione 
                    sociale, ovvero nome e cognome delle persone fisiche, indirizzo sede, telefono, fax, e-mail, 
                    dati fiscali, ecc.) e dati relativi all’attività economica e commerciale (a mero titolo 
                    esemplificativo ma non certo esaustivo: raccolta ordini, contratti stipulati, concorsi, solvibilità, 
                    dati bancari e finanziari, dati contabili e fiscali, ecc). Gli stessi sono forniti dal 
                    Cliente/Interessato direttamente ovvero possono essere raccolti presso terzi autonomi Titolari e/o 
                    Responsabili esterni del trattamento per conto della Titolare.
                    
                        I dati raccolti possono, in via residuale, avere natura sensibile e/o giudiziaria. 
                        In tal caso saranno trattati con le tutele previste per legge e nel rispetto, anche, 
                        dell’art. 23 d.lgs. 196/2003.
           
        </div>
        <div class="tit-parag-policy">Natura del conferimento dei dati</div>
        <div class="testo-parag-policy">
                                    
                    II conferimento dei dati e il relativo trattamento sono obbligatori in relazione alle finalità 
                    n. 1, 2, 3, 4, 5 e relative agli adempimenti di natura commerciale, ne consegue che l’eventuale 
                    rifiuto a fornire i dati per tali finalità potrà determinare l’impossibilità della Titolare a 
                    dar corso ai rapporti contrattuali medesimi e agli obblighi di legge. Il conferimento è facoltativo 
                    in relazione alle finalità di cui al punti 6, 7 e 8, che si riferiscono all’espletamento delle 
                    principali attività di marketing avviate dalla Titolare e/o ricerca del personale, al tracciamento 
                    delle attività a scopo di analisi, salvataggio delle preferenze e credenziali utente, e all’invio 
                    di newsletter.
         
        </div>
        <div class="tit-parag-policy">Ambito di comunicazione e diffusione dei dati</div>
        <div class="testo-parag-policy">
                       
                   In relazione alle finalità indicate i dati potranno essere comunicati ai seguenti soggetti e/o alle 
                   categorie di soggetti sotto indicati, ovvero potranno essere comunicati a società e/o persone, 
                   sia in Italia che all’estero, che prestano servizi, anche esterni, per conto del Titolare. 
                   Tra questi si indicano per maggiore chiarezza:<br>

                    - società che collaborano con la Titolare;<br>
                    - società collegate e/o connesse a Vima;<br>
                    - amministrazioni finanziarie e altre aziende o enti pubblici in adempimento d’obblighi normativi;<br>
                    - autorità competenti e/o Organi di Vigilanza per l’espletamento degli obblighi di legge;<br>
                    - società e studi legali per la tutela dei diritti contrattuali;<br>
                    - per le finalità n. 3, 4 , 5 e 6 i dati potranno essere comunicati a soggetti qualificati che operano 
                    per la scrivente, nonché aziende appaltatrici, lavoratori autonomi e aziende committenti;<br>
                    - è prevista la trasmissione dei dati personali all’estero in Paesi UE ed extra UE.                 
            
        </div>
        <div class="tit-parag-policy">Diritti degli Interessati</div>
        <div class="testo-parag-policy">
                          
                   In relazione ai predetti trattamenti potranno essere da Lei esercitati i diritti di cui all
                   ’art. 7 d.lgs. 196/2003 quali:

                    ottenere la conferma circa l’esistenza o meno di dati che La riguardano;
                    conoscere l’origine dei dati, la logica e la finalità su cui si basa il trattamento;
                    ottenere la cancellazione, la trasformazione in forma anonima o il blocco di dati trattati in violazione di Legge, l’aggiornamento, la rettifica e l’integrazione dei dati stessi;
                    opporsi, per motivi legittimi, al trattamento dei dati stessi;

                        nei limiti ed alle condizioni previste degli articoli 8, 9 e 10 del citato decreto 
                        legislativo, rivolgendosi a Vima s.a.s. di Vittorio Lupinetti & C. con sede in via Olmo di Riccio, 58 – 66034 – Lanciano (Ch) – Italia, telefonando al numero +39 0872 72581 o inviando una mail all’indirizzo info@eurotek-italy.it
                        La visione della presente comunicazione e deve intendersi quale consenso espresso al trattamento dei Suoi dati 
                        personali nel vigore dell’art. 23 d.lgs. 196/03.
                        
                        Rimane fermo che tale consenso è comunque condizionato al rispetto delle disposizioni della vigente normativa.          
                                        
            
        </div>
        <div class="link-corpo mg-b-40 text-right">
        <a href="{% url "contact" %}">torna a contatti</a>
        </div>
</div>       
        
{% endblock %}


