{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div id="work">
        <div class="container">
                <div class="row">
                        {% if work %}
                                {% for elem in work %}
	                              <div class="col-sm-3">
	                                       {{elem.descrizione_work}}
	                              </div>  
                                {% endfor %}
                        {% endif %}
               </div>
        </div>
</div>
                                         
{% endblock %}