{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Work - Vima-tech{% endblock %}

{% block opengraph %}                 
        <meta property="og:url" content="{{request.build_absolute_uri}}" />     
        <meta property="og:site_name" content="Vima-tech" />
        <meta property="og:locale" content="it_IT" />
        <meta property="og:title" content="Work" />
        <meta property="og:description" content="Portfolio" />
        <meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% static "img/logo.png" %}" />
{% endblock %}
        
{% block meta_description %}Tutti i progetti realizzati dalla Vima {% endblock %}
{% block meta_keywords %}Portfolio, Work, Siti, portali, E-commerce, Software, Gestionali, Web Based, Totem informativi{% endblock %}

{% block content %}
<div id="work">
        <div class="container">                
	        {% if work %}                        
	                {% for elem in work %}	
	                       <div class="box-work animated pulse">      
		                        <div class="screen">
		                              <a href={% if elem.link %}"{{ elem.link }}"  target="_blank"{% else %}"#"{% endif %}>
		                                {% if elem.screen %}
		                                <img class="img-screen" src="{{elem.screen.url}}" alt="Immagine del progetto">
		                                {% endif %}
		                                </a>
		                                <div class={% if elem.titolo_work %}"visible tit-work"{% else %}"hidden"{% endif %}>{{elem.titolo_work}}</div>
		                        </div>
		                        {{elem.descrizione_work}}	
	                        </div>                    
	                {% endfor %}	               
	        {% endif %}               
        </div>
</div>
                                         
{% endblock %}