{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div id="work">
        <div class="container">                
	        {% if work %}                        
	                {% for elem in work %}	
	                       <div class="box-work animated pulse">      
		                        <div class="screen">
		                              <a href={% if elem.link %}"{{ elem.link }}"  target="_blank"{% else %}"#"{% endif %}>
		                                {% if elem.screen %}
		                                <img class="img-screen" src="{{elem.screen.url}}" alt="Immagine del progetto">
		                                {% endif %}
		                                </a>
		                                <div class={% if elem.titolo_work %}"visible tit-work"{% else %}"hidden"{% endif %}>{{elem.titolo_work}}</div>
		                        </div>
		                        {{elem.descrizione_work}}	
	                        </div>                    
	                {% endfor %}	               
	        {% endif %}               
        </div>
</div>
                                         
{% endblock %}